<nav class="navbar navbar-expand-sm navbar-dark bg-dark rm-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Real Music</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav rm-full-width">
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reviews">Reviews</a>
        </li>
        <li class="nav-item rm-header-separator"></li>
        <li class="nav-item rm-button-container">
          <button class="btn btn-primary btn-sm" routerLink="/reviews/new" type="submit">Write a Review</button>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="bi-person"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
