html,
body {
  height: 100%;
}

.rmFullSize {
  width: 100%;
  height: 100%;
}

.rmFullWidth {
  width: 100%;
}

.rmFullHeight {
  height: 100%;
}

.rmH-90 {
  height: 90%;
}

.rmClickableElement {
  cursor: pointer;
}
